div.items {
    border: 1px red solid;
    padding: 10px;
    text-align: center;
  }
  
  div.items div {
    display: inline-block; 
    border: 1px solid #555;
    text-align: center;
    padding: 1em;
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: 200%;
  }